<!--# include head #-->
<div id="contents">

<div class="wsp_l-section">
	<div class="wsp_l-section__">
		<div class="wsp_l-section__body">

			<div class="wsp_breadcrumnb">
				<ul class="wsp_breadcrumnbList">
					<li class="wsp_breadcrumnbList__item">
						<a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<li class="wsp_breadcrumnbList__item">
						求人の管理
					</li>
				</ul>
			</div>

			<div class="wsp_cmnMessage wsp_cmnMessage--dgray">
				<div class="wsp_cmnMessage__">
					<div class="wsp_cmnMessage__text wsp_cmnMessage__text--center">
						求人サービスのご利用にあたり、まずは登録情報の必須項目を埋めてください。
					</div>
					<div class="wsp_cmnMessage__body">
						<div class="wsp_formELE wsp_formELE--center">
							<a href="index.php?app_controller=edit&type=cUser" class="wsp_formELE__btn wsp_formELE__btn--blue wsp_formELE__btn--active">登録情報の編集</a>
						</div><!--wsp_formELE-->
					</div>
				</div><!--wsp_cmnMessage__-->
			</div><!--wsp_cmnMessage-->

		</div><!--wsp_l-section__body-->
	</div><!--wsp_l-section__-->
</div><!--wsp_l-section-->

</div><!--contents-->

<!--# include foot #-->
