<!--# readhead regist #-->
<a class="btn_clip" href="javascript:void(0);" onclick="clipCheck( 'regist', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;"><i><img src="./common/images/common/icon_star.svg" alt="" /></i>キープする</a>
<!--# readend #-->

<!--# readhead void #-->
<a class="btn_clip not" href="javascript:void(0);" onclick="javascript:noneClip();return false;"><i><img src="./common/images/common/icon_star.svg" alt="" /></i>キープする</a>
<!--# readend #-->

<!--# readhead delete #-->
<a class="btn_clip" href="javascript:void(0);" onclick="javascript:clipCheck( 'delete', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;" title="キープから外す"><i><img src="./common/images/common/icon_star.svg" alt="" /></i>キープから外す</a>
<!--# readend #-->
