<!--# include head #-->
<div id="contents">

<div class="wsp_l-section">
	<div class="wsp_l-section__">
		<div class="wsp_l-section__body">

			<div class="wsp_breadcrumnb">
				<ul class="wsp_breadcrumnbList">
					<li class="wsp_breadcrumnbList__item">
						<a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<li class="wsp_breadcrumnbList__item">
						企業登録
					</li>
				</ul>
			</div>

			<div class="wsp_cmnForm">
				<div class="wsp_cmnForm__">
					<div class="wsp_cmnForm__head">
						<div class="wsp_cmnForm__title wsp_cmnForm__title--lv1">登録完了</div>
						<div class="wsp_cmnForm__sub">登録が完了しました</div>
					</div>
					<div class="wsp_cmnForm__body">
			
						<div class="wsp_cmnMessage">
							<div class="wsp_cmnMessage__">
								<div class="wsp_cmnMessage__text wsp_cmnMessage__text--center">
									求人企業登録を受け付けました。<br>
									ご利用開始まで今しばらくお待ちください。
								</div>
							</div><!--wsp_cmnMessage__-->
						</div>

					</div><!--wsp_cmnForm__body-->
				</div><!--wsp_cmnForm__-->
			</div><!--wsp_cmnForm-->

		</div><!--wsp_l-section__body-->
	</div><!--wsp_l-section__-->
</div><!--wsp_l-section-->

</div><!--contents-->

<!--# include foot #-->
