<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">求職者からの問い合わせ</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_stylishLabel">
			<!--# form radio inquiry on  on/off 受け付ける/受け付けない #-->
		</span>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">通知設定</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_stylishLabel">
			<!--# form radio receive_notice TRUE  TRUE/FALSE 通知する/通知しない #-->
		</span>
		<span class="wsp_formSet__desc__hint">
			※　求職者からの応募､問い合わせや返信メッセージの受信時に登録されたメールアドレスへ受信の旨を通知する設定です｡
		</span>
	</dd>
</dl>
