<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRY JOB 医療</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <script src="assets/js/hamburger.js"></script>
    <script src="assets/js/topToggle.js"></script>
    <script src="assets/js/tab.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/modal01.js"></script>
    <script src="assets/js/sideNav.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0"
        nonce="your-nonce"></script>
</head>

<body>
    <header class="l-header">
        <div class="l-header__content">
            <div class="l-header__content__logo">
                <h1><img src="./assets/images/common/logo.png" alt="TRY JOB 医療" /></h1>
            </div>
            <div class="l-header__content__list">
                <dl>
                    <dd>
                        <a href="#">LINEで仕事探し</a><a href="#">職種変更</a><a href="#">ご利用ガイド</a><a href="#">求人掲載をお考えの方へ</a>
                    </dd>
                    <dt><a href="#" class="is-keep">キープ</a><a href="#" class="is-check">最近見た求人</a></dt>
                </dl>
            </div>
            <div class="l-header__content__btn">
                <a href="#" class="o-btn is-pink"><i class="is-login"></i>ログイン</a>
                <a href="#" class="o-btn"><i class="is-face"></i>会員登録</a>
            </div>
            <div class="l-header__content__hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </header>

    <main class="p-mypage">
        <div class="is-kv">
            <div class="is-inner_content">
                <h1>マイページ</h1>
            </div>
        </div>
        <!-- <div class="breadcrumb-box">
            <nav class="is-inner_content">
                <ol class="breadcrumb">
                    <li><a href="/">TOP</a></li>
                    <i><img src="./assets/images/common/icon_arw_grey.svg" alt="" /></i>
                    <li>業種トップ</li>
                </ol>
            </nav>
        </div> -->
        <div class="sidebar-toggle">
            <span class="toggle-text">メニュー</span>
            <span class="toggle-arrow">▶︎</span>
        </div>
        <div class="is-inner_content reverse">
            <div class="is-inner_content_left">

                <div class="p-mypage__header">
                    <ul>
                        <li><a href="#">希望条件にマッチした求人<span>00</span>件</a><i></i></li>
                        <li><a href="#">おすすめ求人</a><i></i></li>
                    </ul>
                </div>
                <div class="p-mypage__header">
                    <h2>メッセージ</h2>
                    <ul>
                        <li><a href="#">希望条件にマッチした求人<span>00</span>件</a><i></i></li>
                        <li><a href="#">おすすめ求人</a><i></i></li>
                    </ul>
                </div>
                <div class="is-search__tab__content is-active">
                    <div class="is-offers__item">
                        <div class="flex">
                            <div class="img-wrap">
                                <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            </div>
                            <div class="text-wrap">
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <p>
                                    訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー
                                </p>
                            </div>
                        </div>
                        <div class="is-offers__content">
                            <div class="is-offers__details">
                                <dl>
                                    <dt>給与</dt>
                                    <dd>正職員 月給 000,000円〜000,000円</dd>
                                </dl>
                                <dl>
                                    <dt>仕事内容</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>応募要件</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>住所</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                            </div>
                            <ul>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                            </ul>
                            <div class="buttons">
                                <button class="btn-favorite">
                                    <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                </button>
                                <button class="btn-apply">求人を見る</button>
                            </div>
                            <button class="oneclick-apply">1クリックで今すぐ応募</button>
                        </div>
                    </div>
                    <div class="is-offers__item">
                        <div class="flex">
                            <div class="img-wrap">
                                <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            </div>
                            <div class="text-wrap">
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <p>
                                    訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー
                                </p>
                            </div>
                        </div>
                        <div class="is-offers__content">
                            <div class="is-offers__details">
                                <dl>
                                    <dt>給与</dt>
                                    <dd>正職員 月給 000,000円〜000,000円</dd>
                                </dl>
                                <dl>
                                    <dt>仕事内容</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>応募要件</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>住所</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                            </div>
                            <ul>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                            </ul>
                            <div class="buttons">
                                <button class="btn-favorite">
                                    <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                </button>
                                <button class="btn-apply">求人を見る</button>
                            </div>
                            <button class="oneclick-apply">1クリックで今すぐ応募</button>
                        </div>
                    </div>
                    <div class="is-offers__item">
                        <div class="flex">
                            <div class="img-wrap">
                                <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            </div>
                            <div class="text-wrap">
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <p>
                                    訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー
                                </p>
                            </div>
                        </div>
                        <div class="is-offers__content">
                            <div class="is-offers__details">
                                <dl>
                                    <dt>給与</dt>
                                    <dd>正職員 月給 000,000円〜000,000円</dd>
                                </dl>
                                <dl>
                                    <dt>仕事内容</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>応募要件</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>住所</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                            </div>
                            <ul>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                            </ul>
                            <div class="buttons">
                                <button class="btn-favorite">
                                    <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                </button>
                                <button class="btn-apply">求人を見る</button>
                            </div>
                            <button class="oneclick-apply">1クリックで今すぐ応募</button>
                        </div>
                    </div>
                    <div class="is-offers__item">
                        <div class="flex">
                            <div class="img-wrap">
                                <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            </div>
                            <div class="text-wrap">
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <p>
                                    訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー訴求ポイントテキストダミー
                                </p>
                            </div>
                        </div>
                        <div class="is-offers__content">
                            <div class="is-offers__details">
                                <dl>
                                    <dt>給与</dt>
                                    <dd>正職員 月給 000,000円〜000,000円</dd>
                                </dl>
                                <dl>
                                    <dt>仕事内容</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>応募要件</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                                <dl>
                                    <dt>住所</dt>
                                    <dd>テキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー</dd>
                                </dl>
                            </div>
                            <ul>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                                <li>カテゴリー</li>
                            </ul>
                            <div class="buttons">
                                <button class="btn-favorite">
                                    <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                </button>
                                <button class="btn-apply">求人を見る</button>
                            </div>
                            <button class="oneclick-apply">1クリックで今すぐ応募</button>
                        </div>
                    </div>
                </div>

                <div class="is-pagination">
                    <ul class="is-pagination__list">
                        <li class="is-pagination__item is-active"><a href="#">1</a></li>
                        <li class="is-pagination__item"><a href="#">2</a></li>
                        <li class="is-pagination__item"><a href="#">3</a></li>
                        <li class="is-pagination__item"><a href="#">4</a></li>
                        <li class="is-pagination__item"><a href="#">5</a></li>
                        <li class="is-pagination__item is-ellipsis">...</li>
                        <li class="is-pagination__item"><a href="#">10</a></li>
                        <li class="is-pagination__item is-next">
                            <a href="#">次へ <i class="icon-arrow-right">〉</i></a>
                        </li>
                    </ul>
                </div>
                <div class="p-interested_list-offers">
                    <h2>近くの似ている求人</h2>
                    <div class="is-offers_row">
                        <!-- Job listing 3 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>

                        <!-- Job listing 4 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="is-offers_row">
                        <!-- Job listing 3 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>

                        <!-- Job listing 4 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="is-offers_row">
                        <!-- Job listing 3 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>

                        <!-- Job listing 4 -->
                        <div class="is-offers_item">
                            <img src="./assets/images/industry/img01.png" alt="医療施設内観" />
                            <div class="is-offers_item_content">
                                <p>勤務形態/職種</p>
                                <h3>求人タイトル求人タイトル求人タイトル医療求人</h3>
                                <div class="is-offers_item_details">
                                    <dl>
                                        <dt>給与</dt>
                                        <dd>正職員 月給 000,000円〜000,000円</dd>
                                    </dl>
                                    <dl>
                                        <dt>仕事内容</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>応募要件</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                    <dl>
                                        <dt>住所</dt>
                                        <dd>テキストテキストテキストテキストテキスト</dd>
                                    </dl>
                                </div>
                                <ul>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                    <li>カテゴリー</li>
                                </ul>
                                <div class="buttons">
                                    <button class="btn-favorite">
                                        <i><img src="./assets/images/common/icon_star.svg" alt="" /></i>キープする
                                    </button>
                                    <button class="btn-apply">求人を見る</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-inner_content_right">
                <nav class="sidebar-nav">
                    <ul>
                        <li class="active"><a href="mypage.html">マイページ</a></li>
                        <li><a href="profile.html">プロフィール</a></li>
                        <li><a href="message.html">メッセージ</a></li>
                        <li><a href="interview.html">面接・選考</a></li>
                        <li><a href="applied.html">応募済み求人</a></li>
                        <li><a href="cv.html">履歴書・職務経歴書</a></li>
                        <li><a href="interested_list.html">気になる求人</a></li>
                        <li><a href="#">勤続支援金の申請</a></li>
                        <li><a href="inform.html">違反行為の報告</a></li>
                        <li><a href="#">新着求人メール</a></li>
                        <li><a href="#">企業・法人のブロック</a></li>
                        <li><a href="#">設定</a></li>
                    </ul>
                </nav>
                <div class="sidebar-overlay"></div>
            </div>
        </div>
    </main>
    <footer class="l-footer">
        <div class="l-footer__inner">
            <div class="l-footer__logo">
                <img src="assets/images/common/logo.png" alt="TRYJob医療" class="l-footer__logo-img" />
            </div>

            <div class="l-footer__description">
                人々の命と健康を支え、未来を育み、尊厳ある暮らしを守る、かけがえのない仕事。<br>「もっと専門性を高めたい」「ワークライフバランスを改善したい」「地域に貢献したい」「未経験から挑戦したい」「子育てと両立したい」「心からやりがいを感じたい」あなたのどんな「働く」への想いも、トライジョブが全力でサポートします。
            </div>

            <div class="l-footer__content">
                <div class="l-footer__section-lists">
                    <h3>トライジョブについて</h3>
                    <ul>
                        <li><a href="">求人募集トップ</a></li>
                        <li><a href="">条件検索</a></li>
                        <li><a href="">最近見た求人</a></li>
                        <li><a href="">気になるリスト</a></li>
                        <li><a href="">求人特集コラム</a></li>
                        <li><a href="">ご利用ガイド</a></li>
                        <li><a href="">ヘルプ</a></li>
                        <li><a href="">転職体験談</a></li>
                        <li><a href="">お知らせ</a></li>
                        <li><a href="">よくある質問・お問い合わせ</a></li>
                        <li><a href="">外部送信ポリシー</a></li>
                        <li><a href="">ご利用規約</a></li>
                        <li><a href="">運営会社情報</a></li>
                    </ul>
                    <h3>採用担当者様へ</h3>
                    <ul>
                        <li><a href="">求人掲載をお考えの方へ</a></li>
                        <li><a href="">リンク掲載について</a></li>
                        <li>
                            <a href=""><i></i>採用担当ログイン</a>
                        </li>
                    </ul>
                </div>
                <div class="l-footer__section l-footer__section--contact">
                    <div class="l-footer__contact-area">
                        <h3 class="l-footer__section-title">お困りの方はこちら</h3>
                        <div class="l-footer__contact-btn">
                            <a href="#" class="o-btn"><i></i>各種ご相談・お問い合わせ窓口</a>
                        </div>
                    </div>
                    <div class="l-footer__login-area">
                        <p class="l-footer__login-text">ログイン・新規登録はこちら</p>
                        <div class="l-footer__login-buttons">
                            <a href="#" class="o-btn is-pink"><i class="is-login"></i>ログイン</a>
                            <a href="#" class="o-btn"><i class="is-face"></i>会員登録</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-footer__copy font_poppins">© TRYJob Inc. 2024</div>
    </footer>
</body>

</html>