<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">掲載希望求人</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<p>
			<!--# alias mid target_id id name #--><!--# alias fresh target_id id name #--> (<!--# value target_id #-->)
		</p>
		<!--# form hidden target_id #-->
		<!--# form hidden label #-->
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">掲載プラン</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE">
			<!--# code tableSelectForm at_term at_term name id    sort_rank sort asc category = (!--# view Job drawJobType (!--# get target_id #--) #--) #-->
		</span>
	</dd>
</dl>
