<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">氏名</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE wsp_formELE--(!--# syscode is_validate name #--)">
			<!--# form text name 30 128 #-->
		</span>
		<span class="wsp_formSet__desc__error">
		<!--# syscode validate name #-->
		</span>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">電話番号</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE wsp_formELE--(!--# syscode is_validate tel #--)">
			<!--# form tel tel 30 64 #-->
		</span>
		<span class="wsp_formSet__desc__error">
		<!--# syscode validate tel #-->
		</span>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">メールアドレス</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE wsp_formELE--(!--# syscode is_validate mail #--)">
			<!--# form email mail 30 128  #-->
		</span>
		<span class="wsp_formSet__desc__error">
		<!--# syscode validate mail #-->
		</span>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">件名</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE wsp_formELE--(!--# syscode is_validate sub #--)">
			<!--# form text sub 30 128  #-->
		</span>
		<span class="wsp_formSet__desc__error">
		<!--# syscode validate sub #-->
		</span>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">お問い合わせ内容</span>
		<div class="wsp_formSet__title__tool">
			<span class="wsp_formSetRequired">※必須</span>
		</div>
	</dt>
	<dd class="wsp_formSet__desc">
		<span class="wsp_formELE wsp_formELE--(!--# syscode is_validate note #--)">
			<!--# form textarea note 25 10  #-->
		</span>
		<span class="wsp_formSet__desc__error">
		<!--# syscode validate note #-->
		</span>
	</dd>
</dl>
