<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m contents_m--recruitment_information">

			<div class="wsp_breadcrumnb" style="margin:0 0 10px;">
				<ul class="wsp_breadcrumnbList">
					<li class="wsp_breadcrumnbList__item">
						<a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<li class="wsp_breadcrumnbList__item">
						退会
					</li>
				</ul>
			</div>

			<div class="wsp_cmnForm">
				<div class="wsp_cmnForm__">
					<div class="wsp_cmnForm__head">
						<div class="wsp_cmnForm__title wsp_cmnForm__title--lv1">退会</div>
						<div class="wsp_cmnForm__sub">現在は退会できません</div>
					</div>
					<div class="wsp_cmnForm__body">

						<div class="wsp_cmnMessage">
							<div class="wsp_cmnMessage__">
								<div class="wsp_cmnMessage__text">未請求の利用料金、または未払いの請求があるためこのアカウントは現在退会出来ません。</div>
								<div class="wsp_cmnMessage__body">
							
									<div class="wsp_formELE wsp_formELE--center">
										<a href="index.php?app_controller=search&type=bill&run=true" class="wsp_formELE__btn wsp_formELE__btn--blue wsp_formELE__btn--active">請求情報一覧へ</a>
									</div><!--wsp_formELE-->
							
								</div><!--wsp_cmnMessage__body-->
							</div><!--wsp_cmnMessage__-->
						</div>

					</div><!--wsp_cmnForm__body-->
				</div><!--wsp_cmnForm__-->
			</div><!--wsp_cmnForm-->

		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
