<!--# include head #-->
<div id="contents">

<div class="wsp_l-section">
	<div class="wsp_l-section__">
		<div class="wsp_l-section__body">

			<div class="wsp_breadcrumnb">
				<ul class="wsp_breadcrumnbList">
					<li class="wsp_breadcrumnbList__item">
						<a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<li class="wsp_breadcrumnbList__item">
						エラー
					</li>
				</ul>
			</div>

			<div class="wsp_cmnMessage wsp_cmnMessage--dgray">
				<div class="wsp_cmnMessage__">
					<div class="wsp_cmnMessage__text wsp_cmnMessage__text--center">
						応募者のいる求人情報は削除出来ません。一般公開をされない場合は非公開状態へ切り替えて下さい｡
					</div>
				</div><!--wsp_cmnMessage__-->
			</div><!--wsp_cmnMessage-->

		</div><!--wsp_l-section__body-->
	</div><!--wsp_l-section__-->
</div><!--wsp_l-section-->

</div><!--contents-->

<!--# include foot #-->
