<!--# syscode setTitle サンプルテキスト #-->
<!--# syscode setDescription サンプルテキストサンプルテキスト #-->

<!--# include head #-->

<main class="wsp_l-main">
<div class="wsp_l-main__">
<div class="wsp_l-main__body">
<div class="wsp_articleDetail">

<article class="wsp_articleDetail__article">
<div class="wsp_articleDetail__article__">

	<div class="wsp_article">
	
		<figure class="wsp_article__cover">
			<div class="wsp_article__cover__thumb">
				<img src="common/img/noimage.gif">
			</div>
		</figure><!--wsp_article__cover-->
		
		<h1 class="wsp_article__title">サンプルテキスト　サンプルテキスト　サンプルテキスト　</h1>

		<div class="wsp_article__author">
			<div class="wsp_article__author__thumb">
				<a href="./">
					<!--# object image  src (!--# ecode getSiteProfile logo #--) size 200 200 #-->
				</a>
			</div><!--wsp_article__author__thumb-->
			<div class="wsp_article__author__data">
				<div class="wsp_article__author__data__title">
					<a href="./"><!--# ecode getSiteProfile site_title #--></a>
				</div>
				<div class="wsp_article__author__data__date">
					0000/00/00
				</div>
			</div><!--wsp_article__author__data-->
		</div><!--wsp_article__author-->
		
		<div class="wsp_article__body">
		
			サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　
			
			<div class="wsp_article__body__thumb">
				<a href="">
					<img src="common/img/noimage.gif">
				</a>
			</div>
			
			サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　
			サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　
			
		</div><!--wsp_article__body-->
		
	</div><!--wsp_article-->
	
	<aside class="wsp_article__aside">
		<div class="wsp_article__aside__body">
			<div class="wsp_autoerProfileCard">
				<div class="wsp_autoerProfileCard__thumb">
					<a href="./">
						<!--# object image  src (!--# ecode getSiteProfile logo #--) size 200 200 #-->
					</a>
				</div>
				<div class="wsp_autoerProfileCard__body">
					<h3 class="wsp_autoerProfileCard__body__name">
						<a href="./"><!--# ecode getSiteProfile site_title #--></a>
					</h3>
					<div class="wsp_autoerProfileCard__body__selfIntroduction">
						サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　サンプルテキスト　
					</div>
				</div><!--wsp_autoerProfileCard__body-->
			</div><!--wsp_autoerProfileCard-->
		</div><!--wsp_article__aside__body-->
	</aside>

</div><!--wsp_articleDetail__article__-->
</article>

</div><!--wsp_articleDetail-->
</div><!--wsp_l-main__body-->
</div><!--wsp_l-main__-->
</main>

<!--# include foot #-->
