<!--# include head #-->
<main class="p-thanks">
    <div class="is-inner_content">
        <div class="is-completed">

            <h2>求人への応募
                <p style="color: #222 !important;">
                    求人への応募をご利用頂くには、履歴書の登録が必要となります。<br />
                    履歴書の登録は下記のリンクから処理を行って頂けます。<br />
                </p>
                <div class="buttons" style="justify-content: center;">
                    <a href="index.php?app_controller=register&type=resume" class="o-btn is-wh is-arw">履歴書の登録<i
                            class="o-btn__icon"></i></a>
                    <a href="./" class="o-btn is-wh is-arw">TOPに戻る<i class="o-btn__icon"></i></a>
                </div>
        </div>
    </div>
</main>
<!--# include foot #-->