@charset "utf-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - https://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

/*--------------------------------------------------------------【サンプルコメント】*/
/* サンプルコメント（example）
----------------------------------------------- */

/* ================================================================================ */
/*                                                                                  */
/*      スタイル                                                                    */
/*                                                                                  */
/* ================================================================================ */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

*	{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.clearfix:after	{
	content: '';
	display: block;
	clear: both;
}

body	{
	color: #212121;
}

a	{
	color: #212121;
}

a:hover	{
	color: #424242;
	text-decoration: none;
}

a:hover img{
	opacity:0.7;
}

fieldset {
	border: 1px solid #CCC;
	padding: 0 5px 5px;
	margin: 9px;
	box-shadow: 2px 2px rgba(0,0,0,0.05);
}

fieldset > fieldset {
	background: #EEE;
}

fieldset > fieldset > fieldset {
	background: #FFF;
}

fieldset legend {
	padding: 2px 3px;
	font-size: 13px;
}


/* ================================================================================ */
/*                                                                                  */
/*      レイアウト                                                                  */
/*                                                                                  */
/* ================================================================================ */

.cmslWrapper {
	border-top: 6px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

	.ctrlMode .cmslWrapper {
		min-width: 768px;
	}

.cmslHeader {
}

.cmslHeader__ {
	padding: 20px 0;
	width: 1050px;
	margin: 0 auto;
	overflow: hidden;
}

.cmslContainer {
	width: 1050px;
	margin: 0 auto;
	padding: 30px 0;
	flex: 1;
}

	.ctrlMode .cmslContainer {
		width: 100%;
		min-width: 768px;
	}

.cmslContents {
}

.cmslContents--main {
	float:left;
	width: 720px;
}

.cmslContents--sub {
	width: 300px;
	float: right;
}

.cmslFooter {
	clear: both;
	padding:20px 0;
	margin-top:20px;
	font-size:12px;
	line-height:1.7;
	color:#EEE;
	background:#333;
}
	
.cmslFooter__ {
	width:1050px;
	margin:0 auto;
}

/* グリッド
----------------------------------------------- */

.cmslGrid {
	display: flex;
	flex-wrap: wrap;
}

.cmslGrid__col {
	width: 100%;
}

.cmslGrid__col--1 { width: 8.33333333333%; }
.cmslGrid__col--2 { width: 16.6666666667%; }
.cmslGrid__col--3 { width: 25%; }
.cmslGrid__col--4 { width: 33.3333333333%; }
.cmslGrid__col--5 { width: 41.6666666667%; }
.cmslGrid__col--6 { width: 50%; }
.cmslGrid__col--7 { width: 58.3333333333%; }
.cmslGrid__col--8 { width: 66.6666666667%; }
.cmslGrid__col--9 { width: 75%; }
.cmslGrid__col--10 { width: 83.3333333333%; }
.cmslGrid__col--11 { width: 91.6666666667%; }
.cmslGrid__col--12 { width: 100%; }

.cmslGrid--separate {
	margin-left: -10px;
	margin-right: -10px;
}

.cmslGrid--separate .cmslGrid__col {
	padding: 0 10px;
}


/* ブロック
----------------------------------------------- */

.cmslBlock {
	display: flex;
	flex-wrap: wrap;
}

.cmslBlock__ {
	width: 100%;
}

.cmslBlock--2 .cmslBlock__ { width: 50%;  }
.cmslBlock--3 .cmslBlock__ { width: 33.3333333333%; }
.cmslBlock--4 .cmslBlock__ { width: 25%; }
.cmslBlock--5 .cmslBlock__ { width: 20%; }

.cmslBlock--separate {
	margin-left: -10px;
	margin-right: -10px;
}

.cmslBlock--separate .cmslBlock__ {
	padding: 0 10px;
}

/* パネル
----------------------------------------------- */

.cmslPanel {
	margin: 0 0 20px;
	border: 1px solid #DDD;
	border-radius: 2px;
	box-shadow: 2px 2px rgba(0,0,0,0.05);
	background: #FFF;
}

.cmslPanel__title {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 15px;
	border-bottom: 1px solid #DDD;
	height: 42px;
	line-height: 42px;
	position: relative;
	overflow: hidden;
}

.cmslPanel__title__link {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	margin: 0 0 0 10px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	position: relative;
	top: -1px;
}

.cmslPanel__title__link:hover {
	background: rgba(0,0,0,0.05);
}

.cmslPanel__title__link > i + span {
	margin: 0 0 0 5px;
}

.cmslPanel__title__option {
	float: right;
	font-size: 0;
	text-align: center;
}

.ptoBtn {
	display: inline-block;
	height: 42px;
	line-height: 42px;
	min-width: 42px;
	background: rgba(0,0,0,0);
	color: rgba(0,0,0,0.6);
	border-left: 1px solid #DDD;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
}

.ptoBtn:hover {
	background: rgba(0,0,0,0.05);
}

.cmslPanel__body {
	padding: 16px;
	border-bottom: 1px solid #DDD;
}

.cmslPanel__body > :first-child {
	margin-top: 0;
}

.cmslPanel__body > :last-child {
	margin-bottom: 0;
}


/* ロゴ(ヘッダー内モジュール)
----------------------------------------------- */
.headerLogo {
	text-decoration: none;
	float: left;
	height: 45px;
	position: relative;
}

.headerLogo:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 14px;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

.headerLogo:hover {
	opacity: 0.7;
}

.headerLogo span {
	display: block;
	line-height: 1em;
}

.headerLogo span:first-child {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 0 7px;
	padding: 0 0 0 3px;
}

.headerLogo span:last-child {
	font-size: 28px;
}

/* メニュー(ヘッダー内モジュール)
----------------------------------------------- */
.headerMenu {
	float: right;
	list-style: none;
	overflow: hidden;
	padding: 0 1px 0 0;
}

.headerMenu__item {
	float: left;
	margin: 0 -1px 0 0;
}

.headerMenu__item a {
	text-decoration: none;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.7);
	padding: 0 15px;
	line-height: 42px;
}

/* ページトップ(フッター内モジュール)
----------------------------------------------- */

.pagetop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.pagetop a {
	display: block;
	text-align: left;
	text-indent: -9876px;
	overflow: hidden;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(0,0,0,0.7);
	border: 3px solid rgba(255,255,255,0.3);
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.pagetop a:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-540deg) scale(1);
	transition: 0.2s;
	border-top: 0 solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #FFF;
	border-left: 8px solid transparent;
}

.pagetop a:hover:after {
	transform: translate(-50%,-50%) rotate(0deg) scale(1.2);
}


/* ================================================================================ */
/*                                                                                  */
/*      モジュール                                                                  */
/*                                                                                  */
/* ================================================================================ */


/* 表組み
----------------------------------------------- */

.commonTable {
	width: 100%;
	font-size: 12px;
	margin: 30px 0;
}

.commonTable th {
	border: 1px solid #DDD;
	padding: 15px;
	text-align: left;
	color: #444;
	background: rgba(0,0,0,0.05);
}

.commonTable td {
	border: 1px solid #DDD;
	padding: 15px;
}

.commonTable--fixed {
	table-layout: fixed;
}

/* リスト
----------------------------------------------- */

.commonList {
	padding: 0 0 0 30px;
	margin: 0 0 20px;
}

.commonList .commonList {
	padding: 0 0 0 20px;
	margin: 0;
}

.commonList li {
	line-height: 1.6em;
}

.commonList--unmarked {
	list-style: none;
	padding: 0;
}

.commonList--unmarked .commonList--unmarked {
	padding: 0;
}

.commonList--awesome {
	list-style: none;
}

.commonList--awesome li {
	position: relative;
}

.commonList--awesome i {
	position: absolute;
	left: -2em;
	width: 2em;
	text-align: center;
	line-height: 1.6em;
}

.commonDL {
	margin: 0 0 20px;
	line-height: 1.4em;
}

.commonDL dt {
	font-weight: bold;
}

.commonDL dd {}

.commonDL dd + dt,
.commonDL dt + dt {
	margin-top: 10px;
}

.commonDL--horizontal {
	overflow: hidden;
}

.commonDL--horizontal dt {
	float: left;
	width: 140px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.commonDL--horizontal dd {
	margin-left: 160px;
}

.commonDL--horizontal dd + dt {
	margin-top: 10px;
}

.commonDL--horizontal dd + dt + dd {
	margin-top: 10px;
}




/* 見出しとパラグラフ
----------------------------------------------- */
.contentsTitle {
	line-height: 1.2em;
	position: relative;
}

.contentsTitle--lv1 {
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0;
}

.contentsTitle--lv2 {
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0;
}

.contentsTitle--lv3 {
	font-size: 20px;
	font-weight: normal;
	margin: 20px 0;
}

.contentsTitle--lv4 {
	font-size: 16px;
	margin: 10px 0;
}

.contentsTitle--lv5 {
	font-size: 14px;
	margin: 10px 0;
}

.contentsTitle--bg {
	text-align:center;
	padding:20px;
	margin:40px 0 20px;
	background:rgba(0,0,0,0.7);
	color:rgba(255,2552,255,1);
}

.contentsTitle span {
	font-size: 80%;
	margin: 0 0 0 1em;
}

.contentsText {
	font-size: 14px;
	line-height: 1.6em;
	margin: 0 0 20px;
}

.contentsTitle__link {
	display: inline-block;
	padding: 0 10px;
	margin: 0 0 0 10px;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	position: relative;
	top: -3px;
}

.contentsTitle__link .fa {
	margin: 0 5px 0 0;
}

.contentsTitle--lv3 .contentsTitle__link {
	font-size: 12px;
}

.contentsTitle--lv4 .contentsTitle__link {
	font-size: 10px;
}

.contentsTitle__link:hover {
	background: #EEE;
}

.contentsTitle__link--right {
	position: absolute;
	top: -3px;
	right: 0;
}

/* リンクのリスト
----------------------------------------------- */

.linkList {
	padding: 0 20px;
}

.linkList__item {
	line-height: 2em;
}

.linkList--nomark {
	padding: 0;
	list-style: none;
}

.linkList--white {
}

.linkList--white a {
	color: #FFF;
}

.linkListPanel {
	background: #FFF;
}

.linkListPanel__item {
	border: 1px solid #DDD;
	list-style: none;
	overflow: hidden;
	position: relative;
}

.linkListPanel__item a {
	display: block;
	padding: 1em;
	line-height: 1.6em;
	text-decoration: none;
	cursor: pointer;
}

.linkListPanel__item a:hover {
	background: #EEE;
}

.linkListPanel__item + .linkListPanel__item {
	margin-top: -1px;
}

.linkListPanel--col {
	display: flex;
	flex-wrap: wrap;
}

.linkListPanel--col .linkListPanel__item + .linkListPanel__item {
	margin-top: 0;
	margin-left: -1px;
}

.linkListPanel--borderbottom .linkListPanel__item {
	border: none;
	border-bottom: 1px solid #DDD;
}

.cmsBadge {
	display: inline-block;
	color: #FFF;
	background: #666;
	padding: 0.3em 0.6em 0.2em;
	margin: 0 0 0 5px;
	border-radius: 1em;
	line-height: 1em;
	font-weight: bold;
}

.cmsBadge--right {
	float: right;
}

.cmsBadge--blue { background: #4A89DC; }
.cmsBadge--aqua { background: #3BAFDA ; }
.cmsBadge--green { background: #37BC9B ; }
.cmsBadge--grass { background: #8CC152 ; }
.cmsBadge--sun { background: #F6BB42 ; }
.cmsBadge--orange { background: #E9573F ; }
.cmsBadge--red { background: #DA4453 ; }
.cmsBadge--lavender { background: #967ADC ; }
.cmsBadge--pink { background: #D770AD ; }
.cmsBadge--lgray { background: #E6E9ED ; color: #434A54; }
.cmsBadge--mgray { background: #AAB2BD ; }
.cmsBadge--dgray { background: #434A54 ; }


/* ステップのリスト
----------------------------------------------- */

.stepList {
	list-style: none;
	display: table;
	width: 100%;
	padding: 10px;
	margin: 0 0 20px;
	border: 1px solid #BBB;
	background: #FFF;
	font-size: 13px;
}

.stepList__item {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	text-align: center;
	padding: 0 20px 0 10px;
	color: #BBB;
}

.stepList__item:not(:last-child):after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin: -8px 0 0 0;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 12px solid #BBB;
}

.stepList__item p {
	line-height: 1.6em;
}

.stepList__item--active {
	color: #000;
}

.stepList__item--active p {
}

.stepList__item--active:not(:last-child):after {
	border-left: 12px solid #000;
}

.stepList--fixed {
	table-layout: fixed;
}

	/* iPhone横(landscape) */
	@media only screen and (max-width:480px)	{

		.stepList {
			display: block;
			padding: 0;
		}

		.stepList__item {
			display: block;
			padding: 5px 0;
		}

		.stepList__item:not(:last-child) {
			border-bottom: 1px dashed #CCC;
			box-shadow: 0 2px rgba(0,0,0,0.05);
		}

		.stepList__item:not(:last-child):after {
			right: 50%;
			top: 100%;
			margin: -2px -2px 0 0;
			border-top: 8px solid #BBB;
			border-right: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid transparent;
		}

		.stepList__item--active:not(:last-child):after {
			border-top: 8px solid #000;
		}

		.stepList__item p {
			line-height: 1.3em;
			font-size: 11px;
		}

	}


/* レビューのカード
----------------------------------------------- */

.reviewCard {
	width: 100%;
	padding: 10px 5px 25px 10px;
}

.reviewCard__ {
	display: flex;
}

.reviewCard__photo {
}

.reviewCard__photo a {
	position: relative;
	display: block;
}

.reviewCard__photo a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 31px;
	margin: -1px 0 0 -31px;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,1);
	box-sizing: border-box;
}

.reviewCard__photo a img {
	border-radius: 50%;
}

.reviewCard__photo a:hover {}

.reviewCard__photo a span {
	/* アイコン未登録時のダミー表示 */
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-indent: -9999px;
	overflow: hidden;
	background: #EEE;
}

.reviewCard__body {
	flex-grow: 2;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 2px;
	box-shadow: 2px 2px rgba(0,0,0,0.05);
	padding: 15px;
	margin: 0 0 0 15px;
	position: relative;
}

.reviewCard__body__mes {
	font-size: 12px;
	line-height: 1.6em;
}

.reviewCard__body__state {
	font-size: 11px;
	color: rgba(0,0,0,0.5);
	padding: 10px 0 0 0;
}

.reviewCard__body__state span {
	color: rgba(0,0,0,0.8);
	margin: 0 3px 0 0;
}

.reviewCard__body__relate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 24em;
	font-size: 11px;
	color: rgba(0,0,0,0.5);
	padding: 5px 0 0 0;
	line-height: normal;
}

.reviewCard__body__relate a {
	color: rgba(0,0,0,0.5);
}

.reviewCard__body__date {
	font-size: 10px;
	color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: -16px;
	right: 3px;
	text-align: right;
}

.reviewCard--min .reviewCard__body__mes {
	line-height: 1.3em;
}

.reviewCard--min .reviewCard__body__state {
	font-size: 10px;
}

.reviewCard--min .reviewCard__body__state span {
	margin: 0;
}

.reviewCard--min .reviewCard__photo a span,
.reviewCard--min .reviewCard__photo a img {
	width: 40px;
	height: 40px;
}

.reviewCard--min .reviewCard__photo a:before {
	width: 42px;
	height: 42px;
	left: 21px;
	margin: -1px 0 0 -21px;
}

.reviewCard--min .reviewCard__body {
	padding: 10px;
	margin: 0 0 0 10px;
	flex-grow: 1;
}

.reviewCard--min .reviewCard__body__relate {
	max-width: 16em;
}


/* ソーシャルログイン
----------------------------------------------- */

.socialLoginBtn {
	max-width: 310px;
	margin: 0 0 20px;
}

.socialLoginBtn a {
	display: flex;
	text-decoration: none;
	color: #FFF;
	border-radius: 2px;
	background: #999;
}

.socialLoginBtn a:hover {
	opacity: 0.8;
}

.socialLoginBtn a .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.socialLoginBtn a .fa:before {
	font-size: 24px;
}

.socialLoginBtn__text {
	flex-grow: 2;
	font-weight: bold;
	line-height: 50px;
	padding: 0 0 0 1em;
	border-left: 1px solid rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.05);
}

.socialLoginBtn--tw a {
	background: #55acee;
}

.socialLoginBtn--fb a {
	background: #315096;
}

.socialLoginBtn--gl a {
	background: #DC4E41;
}

/* コピーライト
----------------------------------------------- */
.cmslCopyright {
	text-align:center;
	padding:20px 0;
	font-size:11px;
	color:rgba(255,255,255,0.5);
	background:#252525;
}

.cmslCopyright strong{
	font-weight:normal;
}

.cmslCopyright span{
	padding-left:10px;
}

.cmslCopyright a{
	color:rgba(255,255,255,0.7);
}

/* グローバルナビゲーション
----------------------------------------------- */

.globalNav {
	margin: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background: #FFF;
	box-shadow: 0 5px rgba(0,0,0,0.05);
}

.globalNav__ {
	display: table;
	border-collapse: collapse;
	width: 1050px;
	margin: 0 auto;
	table-layout: fixed;
}

.globalNav__item {
	display: table-cell;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}

.globalNav__item:not(:last-child) {
}

.globalNav__item a {
	display: block;
	text-align: center;
	padding: 30px 0;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
}

.globalNav__item a {
	animation: navSpin 1s ease-in-out;
}

	@keyframes navSpin {
		100% { transform: rotateX(360deg); }
	}

.globalNav__item a:hover {
}

/* お知らせ
----------------------------------------------- */

.news {
	margin: 0 0 30px;
}

.news__list {
	list-style: none;
}

.news__list li {
	margin: 1em 0 0;
	overflow: hidden;
}

.news__list li span {
	float: left;
	background: #FFF;
	line-height: 1.3em;
	text-align: center;
	min-width: 100px;
}

.news__list li p {
	margin: 0 0 0 110px;
	line-height: 1.3em;
}

.news__list li a {
	color: #333;
}

.news__list li a:hover {}

.news__more {
	margin: 1em 0 0;
	text-align: center;
}

.news__more a {
	display: block;
	padding: 0.5em 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.7);
	text-decoration: none;
}

.news__more a:hover {
	background: rgba(0,0,0,0.05);
}

/* ぱんくずリスト
----------------------------------------------- */

.pankuzu {
	font-size: 12px;
	list-style: none;
	margin: 0 0 20px;
}

.pankuzu__item {
	display: inline-block;
}

.pankuzu__item a {
	position: relative;
	display: inline-block;
	margin: 0 0.5em 0 0;
	color: #333;
}

.pankuzu__item a:after {
	content: ">";
	display: inline-block;
	margin: 0 0 0 0.5em;
}


/*--------------------------------------------------------------【アイテム】*/

/* アイテムリスト
----------------------------------------------- */

.itemList {
	margin: 0 0 30px;
}

.itemList__ {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: -5px;
}

.itemList__part {
	width: 25%;
}

/* アイテムリスト(アイテムカード)
----------------------------------------------- */

.itemCard {
	border: 1px solid #DDD;
	position: relative;
	margin: 5px;
}

.itemCard:hover a {
	text-decoration: underline;
}

.itemCard__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.itemCard__photo {
	border-bottom: 1px solid #DDD;
}

.itemCard__photo img {
	width: 100%;
	display: block;
}

.itemCard__body {
	padding: 5px;
}

.itemCard__body__title {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	height: 2.4em;
	max-height: 2.4em;
	overflow: hidden;
}

.itemCard__body__title a {
	text-decoration: none;
}

.itemCard__body__price {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
}

.itemCard__body__price span {
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 0 3px;
}

.itemCard__body__textOne {
	font-size: 12px;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* アイテムリスト:1列
----------------------------------------------- */

.itemList--line .itemList__ {
	margin: 0;
}

.itemList--line .itemList__part {
	width: 100%;
}

/* アイテムリスト:ミニ画像
----------------------------------------------- */

.itemList--min .itemList__ {
	margin: 0;
}

.itemList--min .itemList__part {
	width: 100%;
}

/* アイテムリスト:ミニ画像(アイテムカード)
----------------------------------------------- */

.itemList--min .itemCard {
	overflow: hidden;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #DDD;
}

.itemList--min .itemCard__photo {
	float: left;
	width: 100px;
	border-bottom: none;
}

.itemList--min .itemCard__body {
	padding: 0 0 0 8px;
	margin: 0 0 0 100px;
}

/* アイテムリスト:ランク
----------------------------------------------- */

.itemList--rank .itemList__part {
}

/* アイテムリスト:ランク(アイテムカード)
----------------------------------------------- */

.itemCard__rank {
	position: absolute;
	top: 0;
	left: 0;
}

.itemCard__rank:before {
	content: "";
	height: 0px;
	width: 0px;
	border-top: 35px solid rgba(0,0,0,0.6);
	border-right: 35px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
	position: absolute;
	left: 0px;
	top: 0px;
}

.itemCard__rank span {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #FFF;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial,sans-serif;
}

/* アイテムリスト(一覧)
----------------------------------------------- */

.itemListDetail {}

.itemListDetail__ {}


/* アイテムカード(一覧)(ループ用)
----------------------------------------------- */

.itemCardDetail {
	margin: 0 0 30px;
	padding: 10px;
	border: 1px solid #DDD;
}

.itemCardDetail__head {
	background: #F5F5F5;
}

.itemCardDetail__head__title {
	font-size: 16px;
	padding: 0.5em;
}

.itemCardDetail__head__title a {}

.itemCardDetail__body {
	display: flex;
	padding: 10px 0;
}

.itemCardDetail__body__photo {
	width: 240px;
}

.itemCardDetail__body__photo span {
	display: block;
	background: #F5F5F5;
	padding: 5px;
}

.itemCardDetail__body__photo span img {
	border: 1px solid #FFF;
	width: 100%;
	height: auto;
	display: block;
}

.itemCardDetail__body__spec {
	flex-grow: 1;
	padding: 5px 0 5px 10px;
}

.itemCardDetail__foot {
}

.itemCardDetail__foot__action {
	background: #F5F5F5;
	padding: 10px 0;
	text-align: center;
	font-size: 0;
}

.itemCardDetail__foot__action a {
	font-size: 14px;
	display: inline-block;
	padding: 0.5em 2em;
	margin: 0 5px;
	border: 1px solid #333;
	background: #FFF;
	text-decoration: none;
}

.itemCardDetail__foot__action a:hover {
	opacity: 0.7;
}

table.commonTable--itemCardDetail {
	margin: 0;
}

table.commonTable--itemCardDetail td,
table.commonTable--itemCardDetail th {
	padding: 5px 10px;
}

table.commonTable--itemCardDetail td {}


/* アイテム状態
----------------------------------------------- */

.itemCondition {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2.5px 10px;
}

.itemCondition__item {
	width: 20%;
	padding: 2.5px;
}

.itemCondition__item span {
	display: block;
	color: #999;
	border: 1px solid #DDD;
	padding: 5px;
	text-align: center;
	font-size: 12px;
}

.itemCondition__item--on span {
	color: #EEE;
	background: #666;
	border: 1px solid #666;
}

/*--------------------------------------------------------------【システム】*/

/* 汎用メッセージ
----------------------------------------------- */
.commonMessage {
	margin: 20px 0;
	padding: 1em;
	border: 1px solid #999;
	background: #FFF;
}

.commonMessage--error {
	color: #DA4453;
	border-color: #DA4453;
}

.commonMessage p {
	line-height: 1.3em;
}

/* 操作ボタンセット
----------------------------------------------- */

.actionPanel {
	font-size: 12px;
}

.actionPanel--center {
	text-align: center;
}

.actionPanel--right {
	text-align: right;
}

.actionPanel--nobr {
	white-space: nowrap;
}

.actionPanel__btn {
	font-size: 12px;
	display: inline-block;
	padding: 0 1em;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: middle;
}

a.actionPanel__btn {
	text-decoration: none;
}

.actionPanel__btn:hover {
	background: #EEE;
}

.actionPanel label {
	white-space: nowrap;
	display: inline-block;
	margin: 0 5px;
}

.actionPanel label input[type="radio"],
.actionPanel label input[type="checkbox"] {
	margin: 0 5px 0 0;
}

.actionPanel__input[type="password"],
.actionPanel__input[type="text"] {
	background: #FFF;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0 0.5em;
	margin: 5px 0;
}

.actionPanel__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #FFF url(../../img/select.png) no-repeat right;
	background-size: 16px auto;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0 1em 0 0.2em;
	margin: 5px 0;
}

.actionPanel__select::-ms-expand {
	display: none;
}

.actionPanel label,
a.actionPanel__btn {
	line-height: 30px;
}

.actionPanel__select,
.actionPanel__input[type="password"],
.actionPanel__input[type="text"],
.actionPanel__btn {
	height: 30px;
}

.actionPanel__select,
.actionPanel__input[type="password"],
.actionPanel__input[type="text"] {
}

.actionPanel__select,
.actionPanel__input[type="password"],
.actionPanel__input[type="text"] {
	transition: 0.2s;
}

.actionPanel__select:hover,
.actionPanel__input[type="password"]:hover,
.actionPanel__input[type="text"]:hover {
	border-color: #777;
}

.actionPanel__select:focus,
.actionPanel__input[type="password"]:focus,
.actionPanel__input[type="text"]:focus {
	border-color: #4A89DC;
}

.actionPanel__btn:disabled,
.actionPanel__select:disabled,
.actionPanel__input[type="password"]:disabled,
.actionPanel__input[type="text"]:disabled {
	border-color: #CCC;
	color: #CCC;
	background: #F5F5F5;
	cursor: not-allowed;
}

.actionPanel__btn--notext {
	font-size: 14px;
	padding: 0;
	width: 30px;
	text-align: center;
}


/* 汎用フォーム
----------------------------------------------- */

.commonForm {
	margin: 20px 0;
	font-size: 12px;
}

	.commonForm--toggle {
		display: none;
	}

.commonForm__ {
}

.commonForm__tbl {
	width: 100%;
	background: #FFF;
	border-top: 1px solid #DDD;
}

.commonForm__tbl caption {
	text-align: left;
	font-size: 10px;
	padding: 5px 0;
	background: transparent;
	color: rgba(0,0,0,0.6);
	width: 100%;
}

.commonForm__tbl td,
.commonForm__tbl th {
	border-bottom: 1px solid #DDD;
}

.commonForm__tbl th {
	vertical-align: middle;
	background: #F5F5F5;
	padding: 10px;
}

.commonForm__tbl td {
	padding: 5px 10px 5px 8px;
}

.commonForm__tbl td p {
	margin: 5px 2px;
	line-height: 1.6em;
}

.commonForm__tbl td img {
	max-width: 100%;
	height: auto;
}

.commonForm__tbl td.validate {
	border-left: 2px solid #DA4453;
}

	.validateMessage {
		display: block;
		color: #DA4453;
		font-weight: bold;
		margin: 5px 0;
		line-height: 1.3em;
	}

.commonForm__tbl td label {
	white-space: nowrap;
	display: inline-block;
	line-height: 30px;
	margin: 0 5px 0 0;
}

.commonForm__tbl td label input[type="radio"],
.commonForm__tbl td label input[type="checkbox"] {
	margin: 0 5px 0 0;
}

.commonForm input[type="password"],
.commonForm input[type="text"] {
	background: #FFF;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0 0.5em;
	margin: 5px 2px;
	max-width: 400px;
}

.commonForm textarea {
	font-size: inherit;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0.5em;
	margin: 5px 2px;
	width: 99%;
	max-width: 100%;
}

.commonForm select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #FFF url(../../img/select.png) no-repeat right;
	background-size: 16px auto;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0 1em 0 0.2em;
	margin: 5px 2px;
}

.commonForm select::-ms-expand {
	display: none;
}

.commonForm input[type="file"] {
	display: block;
	margin: 5px 2px;
}

.commonForm select,
.commonForm input[type="password"],
.commonForm input[type="text"] {
	height: 30px;
	vertical-align: middle;
}

.commonForm textarea,
.commonForm select,
.commonForm input[type="password"],
.commonForm input[type="text"] {
	transition: 0.2s;
}

.commonForm textarea:hover,
.commonForm select:hover,
.commonForm input[type="password"]:hover,
.commonForm input[type="text"]:hover {
	border-color: #777;
}

.commonForm textarea:focus,
.commonForm select:focus,
.commonForm input[type="password"]:focus,
.commonForm input[type="text"]:focus {
	border-color: #4A89DC;
}

.commonForm textarea:disabled,
.commonForm select:disabled,
.commonForm input[type="password"]:disabled,
.commonForm input[type="text"]:disabled {
	border-color: #CCC;
	background-color: #F5F5F5;
}

.commonForm__tbl__requisite {
	display: inline-block;
	background: #FFF;
	color: #ED5565;
	font-weight: normal;
	font-size: 12px;
	vertical-align: top;
	margin: 0 0 0 5px;
	padding: 0 4px;
	border-radius: 2px;
}

.commonForm__tbl__hint {
	color: #999;
	margin: 5px 0;
	line-height: 1.3em;
}

.commonForm__tbl__hint--inline {
	display: inline-block;
	margin: 0 5px;
}

.commonForm__tbl__btn {
	font-size: 12px;
	display: inline-block;
	background: #FFF;
	padding: 0 1em;
	border: 1px solid #999;
	border-radius: 2px;
	cursor: pointer;
	height: 30px;
	vertical-align: middle;
}

.commonForm__tbl__btn:hover {
	background: #EEE;
}

.commonForm__action {
	background: #F5F5F5;
	margin: 20px 0;
	padding: 15px 10px;
	text-align: center;
}

.commonForm__action--left {
	text-align: left;
}

.commonForm__action--right {
	text-align: right;
}

.commonForm__action input[type="button"],
.commonForm__action input[type="submit"] {
	font-size: 12px;
	display: inline-block;
	background: #FFF;
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0 1.6em;
	margin: 10px 3px;
	height: 30px;
	cursor: pointer;
}

.commonForm__action input[type="button"]:hover,
.commonForm__action input[type="submit"]:hover {
	background: #EEE;
}

.commonForm__action__notice {
	display: block;
	line-height: 1.3em;
}

.commonForm__tbl--left {
	text-align: left;
}

.commonForm__tbl--check {
	/* 確認画面 */
}

.commonForm__tbl--check td {
	padding: 10px;
}

.labelAdjust {
	/* labelの並びを調整する */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.commonForm__tbl td .labelAdjust--col1 label,
.labelAdjust--col1 label {
	width: 100%;
	margin: 0;
}

.commonForm__tbl td .labelAdjust--col2 label,
.labelAdjust--col2 label {
	width: 50%;
	margin: 0;
}

.commonForm__tbl td .labelAdjust--col3 label,
.labelAdjust--col3 label {
	width: 33.3%;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.commonForm__tbl td .labelAdjust--col4 label,
.labelAdjust--col4 label {
	width: 25%;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.commonForm__tbl td .labelAdjust--col5 label,
.labelAdjust--col5 label {
	width: 20%;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* データ一覧
----------------------------------------------- */

.dataTable {
	width: 100%;
	font-size: 12px;
	background: #FFF;
	margin: 0 0 30px;
}

.dataTable td,
.dataTable th,
.dataTable {
	vertical-align: middle;
}

.dataTable caption {
	text-align: left;
	font-size: 10px;
	padding: 5px 0;
	background: transparent;
	color: rgba(0,0,0,0.6);
}

.dataTable thead td,
.dataTable thead th {
	border-bottom: 2px solid #DDD;
	padding: 1em 0.6em;
	line-height: 1.3em;
	text-align: left;
}

.dataTable thead th {}

.dataTable tbody td,
.dataTable tbody th {
	border-bottom: 1px solid #DDD;
	padding: 0.6em;
	line-height: 1.3em;
}

.dataTable tbody th {}

.dataTable tbody td {}

.dataTable tbody tr:hover td,
.dataTable tbody tr:hover th {
	background: #F5F5F5;
}

/* dataTable--border */

.dataTable--border td,
.dataTable--border th,
.dataTable--border {
	border: 1px solid #DDD;
}


/* タブ操作
----------------------------------------------- */

.tabMenu {
	font-size: 12px;
	border-bottom: 1px solid #999;
}

.tabMenu__list {
	display: inline-block;
	list-style: none;
}

.tabMenu__list__item {
	display: inline-block;
	position: relative;
	bottom: -1px;
}

.tabMenu__list__item a {
	display: block;
	padding: 1.3em 1.3em 1em;
	text-decoration: none;
}

.tabMenu__list__item a:hover {
	text-decoration: underline;
}

.tabMenu__list__item--active {
}

.tabMenu__list__item--active a {
	background: #FFF;
	border: 1px solid #999;
	border-bottom: none;
}

.tabMenu__list__item--active a:hover {
	text-decoration: none;
}

.tabMenu--fixed .tabMenu__list {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.tabMenu--fixed .tabMenu__list__item {
	display: table-cell;
	text-align: center;
}


/* panelMenu
----------------------------------------------- */

.panelMenu {
	font-size: 0;
}

.panelMenu__list {
	display: inline-block;
	list-style: none;
}

.panelMenu__list__item {
	display: inline-block;
	position: relative;
	border: 1px solid #555;
	font-size: 12px;
}

.panelMenu__list__item + .panelMenu__list__item {
	margin-left: -1px;
}

.panelMenu__list__item a {
	display: block;
	padding: 1.3em;
	text-decoration: none;
}

.panelMenu__list__item a:hover {
	text-decoration: underline;
}

.panelMenu__list__item--active {
}

.panelMenu__list__item--active a {
	position: relative;
	background: #555;
	color: #FFF;
}

.panelMenu__list__item--active a:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	border-left: 8px solid transparent;
}

.panelMenu__list__item--active a:hover {
	text-decoration: none;
}

.panelMenu--fixed .panelMenu__list {
	display: table;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.panelMenu--fixed .panelMenu__list__item {
	display: table-cell;
	text-align: center;
}


/* 並び替え操作
----------------------------------------------- */

.sortAction {
	font-size: 12px;
	margin: 20px 0;
}

.sortAction__ {
}

.sortAction__title {
	display: inline-block;
	font-weight: bold;
	border-right: 1px solid #DDD;
	padding: 0.5em 1em;
}

.sortAction__title__label {}

.sortAction__data {
	display: inline-block;
	border-right: 1px solid #DDD;
}

.sortAction__data a {
	display: block;
	padding: 0.5em 1em;
	color: #666;
}

.sortAction__data a:hover {}

.sortAction--right {
	text-align: right;
}



/* ページャー
----------------------------------------------- */
.pageNav {
	overflow: hidden;
	margin: 20px 0;
}

.pageNav__info {
	text-align: center;
	margin: 0 0 10px;
}

.pageNav__list {
	list-style: none;
	position: relative;
	left: 50%;
	float: left;
}

.pageNav__list li {
	margin: 0 1px;
	position: relative;
	left: -50%;
	float: left;
}

.pageNav__list li span,
.pageNav__list li a {
	display: block;
	font-size: 14px;
	padding: 0.6em 1em;
}

.pageNav__list li a {
	background: #EEE;
	color: #000;
	text-decoration: none;
}

.pageNav__list li.current,
.pageNav__list li a:hover {
	background: #333;
	color: #FFF;
}


/* ページャー
----------------------------------------------- */
/* cmslPagination */

.cmslPagination {
	margin: 20px 0;
	text-align: center;
}

.cmslPagination__info {
	margin: 0 0 10px;
}

.cmslPagination__list {
	position: relative;
	height: 40px;
}

.cmslPagination__list ul {
	font-size: 0;
	white-space: nowrap;
}

.cmslPagination__list ul li {
	display: inline-block;
	font-size: 12px;
}

.cmslPagination__list ul li.focus span,
.cmslPagination__list ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	border: 1px solid #CCC;
	margin: 0 5px 0 0;
	background: rgba(255,255,255,0.8);
	border-radius: 3px;
}

.cmslPagination__list ul li a {
	color: #666;
	text-decoration: none;
}

.cmslPagination__list ul li a:hover {
	color: #000;
}

.cmslPagination__list ul li.back_full {}

.cmslPagination__list ul li.back {
}

.cmslPagination__list ul li.page {}

.cmslPagination__list ul li.next {}

.cmslPagination__list ul li.next_full {}

.cmslPagination__list ul li.focus span {
	background: #333;
	color: #FFF;
}

@media only screen and (max-width:768px) {

	.cmslPagination__list {
		height: 70px;
	}

	.cmslPagination__list ul li.next_full a,
	.cmslPagination__list ul li.next a,
	.cmslPagination__list ul li.back_full a,
	.cmslPagination__list ul li.back a {
		width: 80px;
		height: 30px;
		line-height: 30px;
		text-decoration: none;
	}

	.cmslPagination__list ul li.page {
		display: none;
	}

	.cmslPagination__list ul li.back_full {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.cmslPagination__list ul li.back {
		position: absolute;
		left: 0;
	}

	.cmslPagination__list ul li.next {
		position: absolute;
		right: 0;
	}

	.cmslPagination__list ul li.next_full {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.cmslPagination__list ul li.focus {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.cmslPagination__list ul li.focus span {
	}

}


/* ログインパネル
----------------------------------------------- */

.loginPanel {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F8F8F8;
}

.loginPanel__ {
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 2px;
	box-shadow: 2px 2px rgba(0,0,0,0.05);
	padding: 30px;
	margin: 5px;
}

.loginPanel__form {}

.loginPanel__form .actionPanel__btn,
.loginPanel__form .actionPanel__input {
	width: 240px;
	display: block;
}

.loginPanel__form__title {
	height: 45px;
	margin: 0 0 20px;
	position: relative;
}

.loginPanel__form__title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 14px;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

.loginPanel__form__title span {
	display: block;
	line-height: 1em;
}

.loginPanel__form__title span:first-child {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 0 7px;
	padding: 0 0 0 3px;
}

.loginPanel__form__title span:last-child {
	font-size: 28px;
}



/* 画面モード
----------------------------------------------- */

body.ctrlMode {
}

body.ctrlMode .cmslWrapper {
	padding: 50px 0 0 0;
	margin: 0;
	border: none;
	transition: 0.3s;
}

	body.ctrlMode .ctrlPanel--open + .cmslWrapper {
		margin: 0 0 0 220px;
	}

body.ctrlMode .cmslContainer {
	transition: 0.3s;
	margin: 0;
}

body.ctrlMode .cmslContainer > .pankuzu {
	margin: 0 20px 20px;
}

body.ctrlMode .cmslContents {
	padding: 0 20px;
}

/* 操作パネル
----------------------------------------------- */

.ctrlPanel {
}

.ctrlPanel__header {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background: #EEE;
	border-bottom: 1px solid #DDD;
	transition: 0.3s;
}

	.ctrlPanel--open .ctrlPanel__header {
		width: calc( 100% - 220px );
		left: 220px;
	}

.ctrlPanel__header a:hover {
	opacity: 0.7;
}

.ctrlPanel__container {
	position: absolute;
	width: 220px;
	top: 0;
	left: 0;
	transition: 0.3s;
	transform: translateX(-100%);
	z-index: 100;
}

	.ctrlPanel--open .ctrlPanel__container {
		transform: translateX(0);
	}

.ctrlPanel__container:after {
	content: "";
	display: block;
}

.ctrlPanel__containerFilter {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
	background: rgba(0,0,0,0.9);
	transform: translateX(-100%);
	transition: 0.3s;
	z-index: 99;
}

.ctrlPanel__header__menu {
	display: inline-block;
}

.ctrlPanel__header__menu__btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	color: #333;
}

.ctrlPanel__header__menu__btn:hover {
	background: rgba(0,0,0,0.1);
}

.cpcBrand {
	height: 50px;
}

.cpcBrand__name {}

.cpcBrand__name a {
	color: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.5);
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cpcBrand__name a .fa {
	margin: 0 10px 0 0;
	width: 18px;
	text-align: center;
	opacity: 0.7;
}

.cpcBrand__name a span {
}

.cpcBrand__name a:hover {
	color: rgba(255,255,255,1);
}

.cpcBrand__name a:hover .fa {
	opacity: 1;
}

.cpcTitle {
	font-size: 11px;
	padding: 10px;
	color: rgba(255,255,255,0.5);
}

.cpcNav {}

.cpcNav__ {
	list-style: none;
}

.cpcNav__item {
	position: relative;
}

.cpcNav__item a {
	display: block;
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

.cpcNav__item a > .fa {
	margin: 0 10px 0 0;
	width: 18px;
	text-align: center;
	opacity: 0.7;
}

.cpcNav__item a > b {
	font-weight: normal;
}

.cpcNav__item a > b + .fa {
	float: right;
	line-height: inherit;
	margin: 0;
}

.cpcNav__item__toggle {}

.cpcNav__item__toggle + .cpcNav__ {
	display: none;
}

.cpcNav__ .cpcNav__ {
	background: rgba(255,255,255,0.1);
}

.cpcNav__ .cpcNav__ a {
	padding: 0 10px 0 15px;
	margin: 0 0 0 20px;
	border-left: 1px solid rgba(0,0,0,0.3);
}

.cpcNav__ .cpcNav__ .cpcNav__ {
	margin: 0 0 0 20px;
	background: rgba(0,0,0,0.3);
}

.cpcNav__ .cpcNav__ .cpcNav__ a {
	margin: 0;
	border: none;
}

.cpcNav__item a {
	color: rgba(255,255,255,0.7);
}

.cpcNav__item a:hover {
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);
}

.cpcNav__item a:hover .fa {
	opacity: 1;
}

.cpcNav__item .cpcNav__item__toggle--active {
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);
}

.cpcNav__item .cpcNav__item__toggle--active .fa {
	opacity: 1;
}

.cpcNav__item .cpcNav__item__toggle--active > b + .fa {
	transform: rotate(-90deg);
}

/* 操作パネル有効時のページヘッダ
----------------------------------------------- */
.cpPageHeader {
	margin: -30px 0 20px;
	background: #FFF;
}

.cpPageHeader__ {
	padding: 30px 20px;
}

.cpPageHeader__title {
	line-height: 1.5;
	position: relative;
}

.cpPageHeader__title strong {
	display: block;
	font-size: 22px;
	font-weight: normal;
}

.cpPageHeader__title small {
	font-size: 13px;
	font-weight: normal;
}

.cpPageHeader__title__option {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	text-align: center;
}

.phtoBtn {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	min-width: 42px;
	margin: 0 0 0 5px;
	background: rgba(0,0,0,0.7);
	color: rgba(255,255,255,1);
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	padding: 0 8px;
}

.phtoBtn:hover {
	background: rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.6);
}

.phtoBtn i + span {
	display: inline-block;
	margin-left: 5px;
}


.cpPageHeader + .pankuzu {
	background: #FFF;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: -20px 0 20px !important;
	padding: 10px 20px;
}

/* ナビゲーションパネル
----------------------------------------------- */
.navPanel {}

.navPanel__list {
	list-style: none;
}

.navPanel__list__item {
	text-align: center;
	margin: 0 0 5px;
}

.navPanel__list__item a {
	display: block;
	padding: 10px 30px 20px;
	background: rgba(0,0,0,0.05);
	border-radius: 2px;
	text-decoration: none;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-weight: bold;
}

.navPanel__list__item a i {
	display: block;
	font-size: 40px;
	padding: 10px;
	margin: 0;
	color: rgba(0,0,0,0.3);
}

.navPanel__list__item a:hover {
	background: rgba(0,0,0,0.7);
	color: rgba(255,255,255,1);
}

.navPanel__list__item a:hover i {
	color: rgba(255,255,255,0.9);
}

.navPanel--horizontal {
}

.navPanel--horizontal .navPanel__list {
	display: flex;
}

.navPanel--horizontal .navPanel__list__item a {
	margin: 0 5px 0 0;
}

.navPanel--justify {
	margin: 0 -5px;
}

.navPanel--justify .navPanel__list {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
}

.navPanel--justify .navPanel__list__item {
	display: table-cell;
}

.cmslContainer > .navPanel {
	margin: 0 20px;
}

.cmslContainer > .navPanel--justify {
	margin: 0 15px;
}

small + .navPanel,
strong + .navPanel {
	position: absolute;
	right: 0;
	top: 0;
}



/* 見出し
----------------------------------------------- */

.mainArticle {
	margin: 0 0 20px;
}

.mainArticle__title {
	line-height: 1.5;
}

.mainArticle__title--lv2 {
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0;
	margin: 0 0 20px;
	border-bottom: 5px solid rgba(0,0,0,0.1);
}

.mainArticle__title--lv3 {
	font-size: 20px;
	font-weight: normal;
	margin: 30px 0 20px 0;
}

.mainArticle__title--lv4 {
	font-size: 16px;
	margin: 30px 0 20px 0;
}

.mainArticle__title--bg {
	text-align:center;
	padding:20px;
	margin:40px 0 20px;
	background:rgba(0,0,0,0.7);
	color:rgba(255,2552,255,1);
}

.mainArticle__title span {
	font-size: 80%;
	margin: 0 0 0 1em;
}

.mainArticle p {
	line-height: 1.6;
	font-size: 14px;
}

.mainArticle p + p {
	margin: 1em 0 0;
}


/* QAのスタイル
----------------------------------------------- */

.ppFAQ {
}

.ppFAQ__q {
	position: relative;
	padding: 5px 0 0 40px;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 1.3em;
}

.ppFAQ__a {
	position: relative;
	padding: 7px 0 10px 40px;
	margin: 0 0 30px;
	border-bottom: 1px dashed #BBB;
}

.ppFAQ__a:after,
.ppFAQ__q:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	border-radius: 2px;
}

.ppFAQ__q:after {
	content: "Q";
	background: #4A89DC;
}

.ppFAQ__a:after {
	content: "A";
	background: #DA4453;
}

.ppFAQ__a p {
	font-size: 12px;
	line-height: 1.6em;
	margin: 0 0 0.8em;
}

.ppFAQ__a p a {
	text-decoration: underline;
}

.ppFAQ__a p a:hover {
	text-decoration: none;
}

/* 引用のスタイル
----------------------------------------------- */

.bqstyle {
	padding: 20px 40px 1px;
	margin: 20px 0;
	background: #F5F5F5;
	border: 1px solid #EEE;
	border-radius: 3px;
	position: relative;
}

.bqstyle > p {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.8em;
	margin-bottom: 20px;
}

.bqstyle:before,
.bqstyle:after {
	color: #BBB;
	font-size: 60px;
	height: 30px;
	font-family: Arial;
}

.bqstyle:before {
	content: "\201C";
	position: absolute;
	top: 5px;
	left: 5px;
}

.bqstyle:after {
	content: "\201D";
	position: absolute;
	bottom: 0;
	right: 5px;
}

/* アイコン付き案内メニュー
----------------------------------------------- */

.supContents {
	display: flex;
	flex-wrap: wrap;
}

.supContents__part {
	width: 100%;
	padding: 1px;
}

.supContents__part a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 20px 20px 20px 80px;
	transition: 0.3s;
	border: 1px solid rgba(0,0,0,0.1);
}

.supContents--demos .supContents__part__title {
	text-decoration: underline;
}

.supContents__part a:before,
.supContents__part a:after {
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	z-index: 2;
	content: '';
	transition: 0.3s;
}

.supContents__part a:before {
	border-top: 2px solid rgba(0,0,0,0.3);
	border-bottom: 2px solid rgba(0,0,0,0.3);
	transform: scale(0, 1);
}

.supContents__part a:after {
	border-right: 2px solid rgba(0,0,0,0.3);
	border-left: 2px solid rgba(0,0,0,0.3);
	transform: scale(1, 0);
}

.supContents__part a:hover {
}

.supContents__part a:hover:after,
.supContents__part a:hover:before {
	transform: scale(1);
}

.supContents__part p {
	font-size: 12px;
	line-height: 1.6em;
}

.supContents__part__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0.2);
}

.supContents__part__icon i {
	animation: spinOpen 1s ease-in-out;
}

	@keyframes spinOpen {
		100% { transform: rotateY(720deg); }
	}

.supContents__part__title {
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 10px;
}

.supContents--col2 .supContents__part {
	width: 50%;
}

.supContents--col3 .supContents__part {
	width: 33.3%;
}

/* etc
----------------------------------------------- */

.codeMark {
	display: inline-block;
	color: #000;
	background: #F5F5F5;
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 2px;
}

.exampleDesign {
	position: relative;
	border: 1px solid #DDD;
	padding: 30px 20px 20px;
	margin: 20px 0 0;
}

.exampleDesign:before {
	content: "EXAMPLE";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 11px;
	background: #EEE;
	color: #999;
	padding: 3px;
}

/* 汎用カラー設定
----------------------------------------------- */

.bg_blue { background: #4A89DC; }
.bg_blue_l { background: #5D9CEC; }

.bg_aqua { background: #3BAFDA; }
.bg_aqua_l { background: #4FC1E9; }

.bg_green { background: #37BC9B;  }
.bg_green_l { background: #37BC9B;  }

.bg_grass { background: #8CC152; }
.bg_grass_l { background: #A0D468; }

.bg_sun { background: #F6BB42; }
.bg_sun_l { background: #FFCE54; }

.bg_orange { background: #E9573F; }
.bg_orange_l { background: #FC6E51; }

.bg_red { background: #DA4453; }
.bg_red_l { background: #ED5565; }

.bg_lavender { background: #967ADC; }
.bg_lavender_l { background: #AC92EC; }

.bg_pink { background: #D770AD; }
.bg_pink_l { background: #EC87C0; }

.bg_lgray { background: #E6E9ED; }
.bg_lgray_l { background: #F5F7FA; }

.bg_mgray { background: #AAB2BD; }
.bg_mgray_l { background: #CCD1D9; }

.bg_dgray { background: #434A54; }
.bg_dgray_l { background: #656D78; }

.btn_blue:hover,
.btn_blue { background: #4A89DC; color: #FFF; }

.btn_blue_l:hover,
.btn_blue_l { background: #5D9CEC; color: #FFF; }

.btn_aqua:hover,
.btn_aqua { background: #3BAFDA; color: #FFF; }

.btn_aqua_l:hover,
.btn_aqua_l { background: #4FC1E9; color: #FFF; }

.btn_green:hover,
.btn_green { background: #37BC9B; color: #FFF; }

.btn_green_l:hover,
.btn_green_l { background: #37BC9B; color: #FFF; }

.btn_grass:hover,
.btn_grass { background: #8CC152; color: #FFF; border-color: #8CC152; }

.btn_grass_l:hover,
.btn_grass_l { background: #A0D468; color: #FFF; }

.btn_sun:hover,
.btn_sun { background: #F6BB42; color: #FFF; }

.btn_sun_l:hover,
.btn_sun_l { background: #FFCE54; color: #FFF; }

.btn_orange:hover,
.btn_orange { background: #E9573F; color: #FFF; }

.btn_orange_l:hover,
.btn_orange_l { background: #FC6E51; color: #FFF; }

.btn_red:hover,
.btn_red { background: #DA4453; color: #FFF; }

.btn_red_l:hover,
.btn_red_l { background: #ED5565; color: #FFF; }

.btn_lavender:hover,
.btn_lavender { background: #967ADC; color: #FFF; }

.btn_lavender_l:hover,
.btn_lavender_l { background: #AC92EC; color: #FFF; }

.btn_pink:hover,
.btn_pink { background: #D770AD; color: #FFF; }

.btn_pink_l:hover,
.btn_pink_l { background: #EC87C0; color: #FFF; }

.btn_lgray:hover,
.btn_lgray { background: #E6E9ED; }

.btn_lgray_l:hover,
.btn_lgray_l { background: #F5F7FA; }

.btn_mgray:hover,
.btn_mgray { background: #AAB2BD; color: #FFF; }

.btn_mgray_l:hover,
.btn_mgray_l { background: #CCD1D9; color: #FFF; }

.btn_dgray:hover,
.btn_dgray { background: #434A54; color: #FFF; }

.btn_dgray_l:hover,
.btn_dgray_l { background: #656D78; color: #FFF; }

[class*="btn_"] {
	border: 1px solid transparent;
}

[class*="btn_"]:hover {
	opacity: 0.7;
}

/* 汎用操作制御
----------------------------------------------- */

.action_disabled {
	border-color: #CCC;
	color: #CCC;
	background: #F5F5F5;
	cursor: not-allowed;
}

.action_disabled:hover {
	border-color: #CCC;
	color: #CCC;
	background: #F5F5F5;
}

/* 汎用スタイル
----------------------------------------------- */

.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }


/* ================================================================================ */
/*                                                                                  */
/*      レスポンシブ対応(PCファースト)                                              */
/*                                                                                  */
/* ================================================================================ */

.ctrlPanelPC { display: block; }
.ctrlPanelSP { display: none; }

@media only screen and (max-width:960px) {
}

/* iPad縦(portrait) */
@media only screen and (max-width:768px) {

	/*
	----------------------------------------------- */

	.ctrlPanelPC { display: none; }
	.ctrlPanelSP { display: block; }

	.ctrlPanel__container {
	}

	body.ctrlMode .ctrlPanel--open + .cmslWrapper,
	body.ctrlMode .cmslWrapper {
		margin: 0;
	}

	.ctrlPanel--open .ctrlPanel__header {
		width: 100%;
		left: 0;
	}

	.ctrlPanel--open .ctrlPanel__container {
		transform: translateX(-100%);
	}

	.ctrlMode .cmslContainer,
	.ctrlMode .cmslWrapper {
		min-width: 100%;
	}

	.ctrlPanel--open--sp .ctrlPanel__header {
		width: calc( 100% - 220px );
		left: 220px;
	}

	.ctrlPanel--open--sp .ctrlPanel__container {
		transform: translateX(0);
	}

	.ctrlPanel--open--sp .ctrlPanel__containerFilter {
		transform: translateX(0);
	}

	/* グリッド
	----------------------------------------------- */

	.cmslGrid {
		display: flex;
		flex-wrap: wrap;
	}

	.cmslGrid__col {
		width: 100%;
	}

	.cmslGrid__col--1 { width: 100%; }
	.cmslGrid__col--2 { width: 100%; }
	.cmslGrid__col--3 { width: 100%; }
	.cmslGrid__col--4 { width: 100%; }
	.cmslGrid__col--5 { width: 100%; }
	.cmslGrid__col--6 { width: 100%; }
	.cmslGrid__col--7 { width: 100%; }
	.cmslGrid__col--8 { width: 100%; }
	.cmslGrid__col--9 { width: 100%; }
	.cmslGrid__col--10 { width: 100%; }
	.cmslGrid__col--11 { width: 100%; }
	.cmslGrid__col--12 { width: 100%; }

	.cmslGrid--separate {
		margin-left: -10px;
		margin-right: -10px;
	}

	.cmslGrid--separate .cmslGrid__col {
		padding: 0 10px;
	}


	/* ブロック
	----------------------------------------------- */

	.cmslBlock {
		display: flex;
		flex-wrap: wrap;
	}

	.cmslBlock__ {
		width: 100%;
	}

	.cmslBlock--2 .cmslBlock__ { width: 100%;  }
	.cmslBlock--3 .cmslBlock__ { width: 100%; }
	.cmslBlock--4 .cmslBlock__ { width: 100%; }
	.cmslBlock--5 .cmslBlock__ { width: 100%; }

	.cmslBlock--separate {
		margin-left: -10px;
		margin-right: -10px;
	}

	.cmslBlock--separate .cmslBlock__ {
		padding: 0 10px;
	}

	/*
	----------------------------------------------- */

	.navPanel {
		max-width: 100%;
		overflow: hidden;
	}

	.navPanel__list__item a {
		padding: 5px 15px 10px;
		font-size: 10px;
	}

	.navPanel__list__item a i {
		font-size: 16px;
		padding: 5px;
	}

	/*
	----------------------------------------------- */

	.cpPageHeader {}

	.cpPageHeader__ {
		padding: 15px 10px;
	}

	.cpPageHeader__title strong {
	}

	.cpPageHeader__title small {
	}

	.contentsTitle--lv2 {
		font-size: 18px;
	}

	/*
	----------------------------------------------- */

	body.ctrlMode .cmslContents {
		padding: 0 10px;
	}

	body.ctrlMode .cmslContainer > .pankuzu {
		padding: 10px;
		margin: 0 0 20px;
	}

	/* responsiveTable
	----------------------------------------------- */

	.responsiveTable {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.responsiveTable__ {
		overflow: scroll;
		overflow-y: hidden;
		border-right: 1px solid #CCC;
	}

	.responsiveTable__ table {
		margin: 0 0 10px;
	}

	.responsiveTable__ th,
	.responsiveTable__ td {
		white-space: nowrap;
	}

	/* table(responsive)
	----------------------------------------------- */
	
	.commonForm__tbl--responsive caption,
	.commonForm__tbl--responsive td,
	.commonForm__tbl--responsive th,
	.commonForm__tbl--responsive tr,
	.commonForm__tbl--responsive tbody,
	.commonForm__tbl--responsive {
		display: block;
		width: 100% !important;
	}

	.commonForm__tbl--responsive caption {
		margin: 0 0 10px;
	}

	.commonForm__tbl--responsive th {
		text-align: left;
		padding: 5px;
	}

	.commonForm__tbl--responsive td,
	.commonForm__tbl--responsive th {
		border-bottom: none;
	}

	.commonForm__tbl--responsive input[type="password"],
	.commonForm__tbl--responsive input[type="text"] {
		width: 100%;
	}

	.commonForm__tbl--responsive textarea {
		width: 100%;
	}

	.commonForm__tbl {
		border-top: none;
	}

	.cmslPanel {
		margin: 0 0 10px;
	}

	.cmslPanel__body {
		padding: 10px;
	}

	.cmslPanel__body--p20 {
		padding: 20px;
	}

	.commonList {
		margin: 0 0 10px;
	}

	.contentsTitle--lv3 {
		font-size: 16px;
	}

}

/* smartphone横(landscape) */
@media only screen and (max-width:640px) {}

/* iPhone横(landscape) */
@media only screen and (max-width:480px) {}

/* smartphone縦(portrait) */
@media only screen and (max-width:360px) {}

/* iPhone縦(portrait) */
@media only screen and (max-width:320px) {}

/* viewportの仕様上、指定可能な最小幅 */
@media only screen and (max-width:200px) {}


/* ================================================================================ */
/*                                                                                  */
/*      デザインテーマ                                                               */
/*                                                                                  */
/* ================================================================================ */

body.ctrlMode {
	background: #151515;
}

body.ctrlMode .cmslWrapper {
	background: #F9F9F9;
}

.ctrlPanel__header {
}

.ctrlPanel__container {
}
