<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">氏名</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<p><!--# value name #--></p>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">電話番号</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<p><!--# value tel #--></p>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">メールアドレス</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<p><!--# value mail #--></p>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">件名</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<p><!--# value sub #--></p>
	</dd>
</dl>

<dl class="wsp_formSet">
	<dt class="wsp_formSet__title">
		<span class="wsp_formSet__title__name">お問い合わせ内容</span>
	</dt>
	<dd class="wsp_formSet__desc">
		<p><!--# value note #--></p>
	</dd>
</dl>
