<!--# readhead head #-->
<!--# readend #-->

<!--# readhead is_error #-->
<div class="wsp_cmnMessage wsp_cmnMessage--red">
	<div class="wsp_cmnMessage__">
		<div class="wsp_cmnMessage__text">
			入力内容を見直してください。
		</div>
	</div><!--wsp_cmnMessage__-->
</div>
<!--# readend #-->

<!--# readhead name #-->
氏名が入力されていません。<br />
<!--# readend #-->
<!--# readhead tel_REGEX #-->
電話番号は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead mail #-->
メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead sub #-->
件名が入力されていません。<br />
<!--# readend #-->
<!--# readhead note #-->
お問い合わせ内容が入力されていません。<br />
<!--# readend #-->

<!--# readhead foot #-->
<!--# readend #-->
