<!--# include head #-->
<main class="p-column">
	<div class="is-kv">
		<div class="is-inner_content">
			<h1>求人特集コラム（仮称）</h1>
		</div>
	</div>

	<div class="breadcrumb-box">
		<nav class="is-inner_content">
			<ol class="breadcrumb">
				<li><a href="https://medical.try-job.com/index.php">TOP</a></li>
				<i><img src="./common/images/common/icon_arw_grey.svg" alt="" /></i>
				<li>求人特集コラム（仮称）</li>
			</ol>
		</nav>
	</div>
	<div class="is-inner_content">
		<p class="description">「求人特集コラム」は、医療や介護、保育などのお仕事に就いている人や就きたい人のための「働く」を考えるメディアです。</p>
		<div class="p-column__header" style="margin-top: 0 !important;">
			<p>記事はありません</p>
		</div><!--cmslBlock__-->
	</div>
</main>
<style>
	.p-column__header p {
		font-size: 1.6rem;
		line-height: 180%;
		margin: 0 auto;
		padding-bottom: 4.8rem;
	}

	@media screen and (max-width: 768px) {
		.p-column__header p {
			padding-bottom: 2.4rem;
		}

	}
</style>
<!--# include foot #-->