<!--# readhead success #-->

<!--# syscode searchResult setResultNum 5 #-->
<!--# syscode searchResult setPagejumpNum 5 #-->

<div class="list_table">
	<ul class="item_list clearfix">
		<!--# syscode searchResult result #-->
	</ul>
</div><!--list_table END-->

<!--# readend #-->

<!--# readhead failed #-->

<p class="message_result_none">その条件に一致する求人情報はありませんでした。</p>

<!--# readend #-->

<!--# readhead list #-->

<!--# setTimeFormat Y/m/d #-->
<a href="index.php?app_controller=info&type=(!--# get type #--)&id=(!--# value id #--)" class="side-bar_contents">
    <div class="side-bar_item">
        <div class="side-bar_image">
            <!--# object image image1 size not <img\ src="common/img/noimage.gif"\ /> #-->
        </div>
        <div class="side-bar_text">
            <p><!--# value regist #--> ～ <!--# value limits #--></p>
            <h3><!--# value name #--></h3>
        </div>
    </div>
    <div class="side-bar_category">
        <span><!--# alias items_type category id name #--></span>
    </div>
</a>
<!--# readend #-->
