<div class="p-confirm__content">

	<dl>
		<dt>お名前</dt>
		<dd><!--# value name #--></dd>
	</dl>
	<dl>
		<dt>電話番号</dt>
		<dd><!--# value tel #--></dd>
	</dl>
	<dl>
		<dt>メールアドレス</dt>
		<dd><!--# value mail #--></dd>
	</dl>
	<dl>
		<dt>件名</dt>
		<dd><!--# value sub #--></dd>
	</dl>
	<dl>
		<dt>お問い合わせ内容</dt>
		<dd><!--# value note #--></dd>
	</dl>
	<!-- <div class="privacy-policy">
		<input type="checkbox" id="privacy-policy">
		<label for="privacy-policy">
			<a href=""> プライバシーポリシー</a>の内容を確認し、同意します。
		</label>
	</div> -->
	<p class="button"><input type="submit" name="back" value="戻る" class="btn_back" />
		<input type="submit" name="Submit" value="送信する" class="btn_send" />
	</p>
</div>